h1 {
    text-align: center;
}

p, li {
    margin-left: 30px;
    margin-right: 30px;
}

body {
    background-color: antiquewhite;
}

.accordion-collapse {
    background-color: burlywood;
}

#resources-collapse a {
    margin: 20px;
}

.examplePhoto img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1000px;
    height: 250px;
    margin: 30px auto 30px auto;
    border-radius: 0.25rem;
}

.examplePhoto figcaption {
    text-align: center;
}

#inputTagExample {
    height: 125px;
}

header h3 {
    margin-left: 30px;
    padding-top: 30px;
    margin-bottom: 15px;
}

footer {
    padding-bottom: 20px;
}

#getUserMediaUsage {
    height: 500px;
}

form {
    padding-left: 30px;
    padding-top: 30px;
}

#imageOutput img {
    max-width: 1000px;
    max-height: 1000px;
}

#imageOutput figcaption {
    text-align: center;
}

#userVideo, #userPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    height: 75%;
    border-radius: 0.25rem;
    margin: 0 auto 20px auto;
}

.flexButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    margin: 0 auto 20px auto;
    border-radius: 0.5rem;
    border-style: solid;
}

#getUserMediaExamplePhoto {
    height: 100%;
}